*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}
.container{ 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}
.background{
    transform: translateZ(-40px) scale(5);
}
.foreground{
    transform: translateZ(-20px) scale(3);
}
.background, .foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
}
h1{
    position: absolute;
    top: 5rem;
    font-size: 8rem;
    font-family: sans-serif;
    color: rgb(239, 246, 251);
    text-shadow: 0px 0px 30px rgb(189, 234, 240);
}
section{
    background: linear-gradient(rgba(167, 55, 242,1)50%,  rgba(34,193,195,1) 0%, rgba(167,55,242,1) 100%);
    color: white;
    padding: 5rem 0 ;
}
.secHeading{
    font-size: 5rem;
    padding: 0 10rem;
}
.text{
      font-size: 1.5rem;
      padding: 0 10rem;
      margin: 5rem 0;
      font-family: sans-serif;
}
.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    height: 500px;
    background-size: cover;
    background-position: center;
}
.desc{
    position: absolute;
    background-color: white;
    /* padding: 0.5rem 2.5rem; */
    text-align: center;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50px) translateX(-50px);
    color: black;
    font-size: 3.5rem;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid black;
    font-family: sans-serif;

    /* text-shadow: 0px 0px 50px blue; */
    box-shadow: 0px 0px 35px rgb(126, 242, 255);
}
/* .desc:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: all 0.6s linear 0s;
    transform: scale(1.1);
} */
.bg1{
    background-image: url(sport-1.jpg);
}
.bg2{
    background-image: url(sport-2.jpg);
}
.bg3{
    background-image: url(sport-3.jpg);
}