img{
    margin: 10px;
}

div{
    border: 2px solid black;
}

.img2{
   /* position: relative;
    top: 100px;
    left: 100px;  */

   /* position: absolute;
    top: 100px;  */
}

.container{
    position: relative;
    height: 2000px;
    background-color: bisque;
}

.img4{
    position: fixed;
}

.img3{
    position: sticky;
    top: 100px;
}

.box{
    background: aquamarine;
    height: 1000px;
}