*{
    padding: 50px;
    margin: 5px;
}
h1{
    background-color: aqua;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    text-align: center;
    /* border-radius: 5px; */
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 350px;

    /* box model */
    padding-left: 50px;
    padding-top: 30;

}
.f1para{
    background-color: aquamarine;
}
.f2para{
    background-color: blueviolet;
}
.f3para{
    background-color: bisque;
}
.f1para,.f2para,.f3para{
    border-style: solid;
    border-width: 4px;
    border-color: black;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 300px;

    /* BOX MODEL */
    padding: 20px;
    margin: 50px;
}