.box{
    background-color: aqua;
    /* transform: translate(50px, 100px); */
    /* transform: rotate(45deg); */
    margin: 200px;
    /* transform: scale(2.3); */
    /* transform: skew(-210deg); */

    /* matrix */
    /* transform: matrix(1, 2, -1, 1, 80, 80); */

    transform: translate3d(42px, -62px, -135px);
}