.container{
    height: 700px;
    border: 1px solid black;
    background-color: yellow;

    display: grid;
    grid-gap: 10px;

    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(4, 1fr);
}
.box{
    border: 1px solid black;
    background-color: aqua;
}